@media(max-width: 992px) {

    main .shopping__cart{
        display: flex;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
    }
    main .shopping__cart__item{
        display: block;
        width: 100%;
    }
    main .shopping__cart__item__title1, .shopping__cart__item1, .shopping__cart__item__title2, p{
        display: flex;
        justify-content: center;
    }

    main .banner__button__wrapper{
        display: flex;
        justify-content: center;
    }

    main .banner{
        background-size: revert;
    }
}

@media(max-width: 768px) {
    main .services__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
    }

    main .services__item{
        width: 100%;
        margin-top: 50px;
    }

    main .services__item__txt{
        font-size: 14px;
        font-weight: bold;
    }

}

@media(max-width: 730px) {
    main .banner__wrapper, .banner__button__style{
        display: flex;
        justify-content: center;
    }
    main .banner__button__wrapper{
        display: flex;
        justify-content: center;
    }
    main .banner__contan__img{
        max-width: 300px;
    }
    main .banner__contan__txt{
        max-width: 500px;
    }
}

@media(max-width: 626px) {
    header{
        display: none;
    }
}