@media(max-width: 992px) {

    main .shopping__cart{
        display: flex;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
    }
    main .shopping__cart__item{
        display: block;
        width: 100%;
    }
    main .shopping__cart__item__title1, .shopping__cart__item1, .shopping__cart__item__title2, p{
        display: flex;
        justify-content: center;
    }

}

@media(max-width: 768px) {
    main .services__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
    }

    main .services__item{
        width: 100%;
        margin-top: 50px;
    }

}

@media(max-width: 730px) {
    main .banner__wrapper, .banner__button__style{
        display: flex;
        justify-content: center;
    }


}

@media(max-width: 576px) {
    header{
        display: none;
    }

}